h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --theme-background-color: #2d2d2d;
    --theme-text-color: #f5f5f5;
    --theme-header-color: #2a2a2a;
    --theme-subheader-color: #383838;
    --theme-primary-color: #383838;
    --theme-primary-highlight-color: #606060;
    --theme-action-color: #2e2e2e;
    --theme-dangerous-action-color: #d34e4e;
    --theme-input-base-color: #3e3e3e;
    --theme-input-submit-color: #a9cec2;
    --theme-card-level-1-color: rgba(144, 246, 106, 0.5);
    --theme-card-level-2-color: rgba(255, 121, 188, 0.5);
    --theme-card-level-3-color: rgba(87, 210, 255, 0.565);
    --base-border-radius: 0.5rem;
  }

body {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    margin: 0;
    padding: 0;
    font-size: 14px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--theme-header-color);
    height: 75px;
    align-items: center;
}

input{
    background-color: var(--theme-input-base-color);
    border: none;
    color: var(--theme-text-color);
    padding: 0.5rem 1rem;
    border-radius: var(--base-border-radius);

}

input[type= "submit"]{
    cursor: pointer;
    color: black;
    background-color: var(--theme-input-submit-color);
}

.fav-icon{
    height: 32px;
    width: 3dpx;
}

#todo-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
    /* background-color: #1a1a1a; */
}

.todo-item{
    display:flex;
    flex-direction: column;
    background-color: var(--theme-primary-color);
    border-radius: var(--base-border-radius);
    padding: 1rem;
    row-gap: 1rem;
    transition: background-color 0.5s ease;
    position: relative;

}

.todo-item:hover{
    background-color: var(--theme-primary-highlight-color);
}

.todo-item h2{
    font-size: 1.5em;
    align-self: center;
}

.todo-item p{
    font-size: 1em;
    align-self: center;
}

.todo-item span {
    display: flex;
    align-self: center;
}

.todo-item .btn-remove-todo{
    background-color: var(--theme-action-color);
    border: none;
    border-radius: 0.2rem;
    color: var(--theme-text-color);
    transition: all 1s;
    padding: 0.5rem 1rem;
}

.todo-item .btn-remove-todo:hover{
    background-color: var(--theme-dangerous-action-color);
    cursor: pointer;

}

.form-todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--theme-subheader-color);
    margin: 1rem;
    border-radius: var(--base-border-radius);
}

.form-todo span {
    display: flex;
    gap: 1rem;
}

.card-color-1{
    background-color: var(--theme-card-level-1-color);
}

.card-color-2{
    background-color: var(--theme-card-level-2-color);
}

.card-color-3{
    background-color: var(--theme-card-level-3-color);
}